<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="selectInstaList">
SELECT
       INSTA_IMG_NAME
     , INSTA_IMG_SRC
  FROM TB_INSTAGRAM
  LEFT JOIN TB_INSTA_IMAGE IMG ON (IMG_NO = INSTA_IMG_NO)
 WHERE DEL_YN = 'N'
</entry>
</properties>