<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectLocation">
SELECT 
        LOC_NO
      , MEM_NO
      , LOC_ADDRESS_NAME
      , LOC_NAME
      , LOC_PHONE
      , LOC_ADDRESS
      , LOC_ADDRESS_DTL
      , LOC_POST_CODE
      , DEL_YN
      , LOC_YN
FROM TB_LOCATION
WHERE MEM_NO = ?
AND LOC_YN = 'Y'
	</entry>
	<entry key="insertCart">
INSERT INTO 
    TB_CART 
    VALUES(
    SEQ_CART.NEXTVAL
    ,?
    ,?
    ,?
    ,?
    ,DEFAULT
    )
	</entry>
	<entry key="selectCart">
SELECT 
    PRODUCT_NAME
  , PRODUCT_DISCOUNT
  , PRODUCT_PRICE
  , CART_NO
  , CART_QNT
  , CART_SIZE
  , MILEAGE
  , BRAND_NAME
  , PRODUCT_IMG_SRC
  FROM TB_CART C
JOIN TB_PRODUCT P ON (C.PRODUCT_NO = P.PRODUCT_NO)
JOIN TB_MEMBER M ON(C.MEM_NO = M.MEM_NO)
JOIN TB_BRAND B ON(B.BRAND_NO = P.BRAND_NO)
JOIN TB_PRODUCT_IMAGE PI ON (PI.PRODUCT_NO = P.PRODUCT_NO)
    WHERE 
        C.MEM_NO = ?
    AND C.DEL_YN = 'N' 
    AND IMG_TYPE = 1  
	</entry>
	<entry key="deleteCart">
	UPDATE
        TB_CART
    SET DEL_YN = 'Y'
    WHERE CART_NO = ?
	</entry>
	<entry key="checkCart">
	SELECT  
    CART_NO
    FROM TB_CART
  WHERE 
     MEM_NO = ? 
 AND PRODUCT_NO = ?
 AND CART_SIZE = ?
 AND DEL_YN = 'N'
	</entry>
	<entry key="updateQnt">
	UPDATE
        TB_CART
    SET CART_QNT = ?
    WHERE CART_NO = ?
	</entry>
</properties>