<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="categorySearch">
SELECT *
FROM(SELECT ROWNUM RNUM, A.*
FROM(SELECT 
     PRODUCT_NO
    ,PRODUCT_NAME
    ,PRODUCT_DISCOUNT
    ,PRODUCT_PRICE
    ,BRAND_NAME
    ,PRODUCT_VIEW_COUNT
    ,CHANGE_NAME
    ,FILE_PATH
    FROM TB_PRODUCT P
    JOIN TB_CATEGORY C ON(P.CATEGORY_NO = C.CATEGORY_NO)
    JOIN TB_BRAND USING(BRAND_NO)
    JOIN TB_PRODUCT_IMAGE USING(PRODUCT_NO)
    WHERE CATEGORY_NAME = ?
        AND IMG_TYPE = 1
        AND P.DEL_YN = 'N'
    ORDER
     BY PRODUCT_NO DESC)A
        )
        WHERE RNUM BETWEEN 6*(?-1) AND ?*6
</entry>
<entry key="categoryViewSearch">
SELECT *
FROM(SELECT ROWNUM RNUM, A.*
FROM(SELECT 
     PRODUCT_NO
    ,PRODUCT_NAME
    ,PRODUCT_DISCOUNT
    ,PRODUCT_PRICE
    ,BRAND_NAME
    ,PRODUCT_VIEW_COUNT
    ,CHANGE_NAME
    ,FILE_PATH
    FROM TB_PRODUCT P
    JOIN TB_CATEGORY C ON(P.CATEGORY_NO = C.CATEGORY_NO)
    JOIN TB_BRAND USING(BRAND_NO)
    JOIN TB_PRODUCT_IMAGE USING(PRODUCT_NO)
    WHERE CATEGORY_NAME = ?
        AND IMG_TYPE = 1
        AND P.DEL_YN = 'N'
    ORDER BY PRODUCT_VIEW_COUNT DESC )A
        )
        WHERE RNUM BETWEEN 6*(?-1) AND ?*6
</entry>
<entry key="categoryRowPrice">
SELECT *
FROM(SELECT ROWNUM RNUM, A.*
FROM(SELECT 
     PRODUCT_NO
    ,PRODUCT_NAME
    ,PRODUCT_DISCOUNT
    ,PRODUCT_PRICE
    ,BRAND_NAME
    ,PRODUCT_VIEW_COUNT
    ,CHANGE_NAME
    ,FILE_PATH
    FROM TB_PRODUCT P
    JOIN TB_CATEGORY C ON(P.CATEGORY_NO = C.CATEGORY_NO)
    JOIN TB_BRAND USING(BRAND_NO)
    JOIN TB_PRODUCT_IMAGE USING(PRODUCT_NO)
    WHERE CATEGORY_NAME = ?
        AND IMG_TYPE = 1
        AND P.DEL_YN = 'N'
    ORDER BY PRODUCT_PRICE*((100-PRODUCT_DISCOUNT)*0.01))A
        )
        WHERE RNUM BETWEEN 6*(?-1) AND ?*6
</entry>
<entry key="categoryHighPrice">
SELECT *
FROM(SELECT ROWNUM RNUM, A.*
FROM(SELECT 
     PRODUCT_NO
    ,PRODUCT_NAME
    ,PRODUCT_DISCOUNT
    ,PRODUCT_PRICE
    ,BRAND_NAME
    ,PRODUCT_VIEW_COUNT
    ,CHANGE_NAME
    ,FILE_PATH
    FROM TB_PRODUCT P
    JOIN TB_CATEGORY C ON(P.CATEGORY_NO = C.CATEGORY_NO)
    JOIN TB_BRAND USING(BRAND_NO)
    JOIN TB_PRODUCT_IMAGE USING(PRODUCT_NO)
    WHERE CATEGORY_NAME = ?
        AND IMG_TYPE = 1
        AND P.DEL_YN = 'N'
    ORDER BY PRODUCT_PRICE*((100-PRODUCT_DISCOUNT)*0.01) DESC)A
        )
        WHERE RNUM BETWEEN 6*(?-1) AND ?*6
</entry>
<entry key="productSearch">
SELECT *
FROM(SELECT ROWNUM RNUM, A.*
FROM(SELECT 
     PRODUCT_NO
    ,PRODUCT_NAME
    ,PRODUCT_DISCOUNT
    ,PRODUCT_PRICE
    ,BRAND_NAME
    ,PRODUCT_VIEW_COUNT
    ,CHANGE_NAME
    ,FILE_PATH
    FROM TB_PRODUCT P
    JOIN TB_CATEGORY C ON(P.CATEGORY_NO = C.CATEGORY_NO)
    JOIN TB_BRAND USING(BRAND_NO)
    JOIN TB_PRODUCT_IMAGE USING(PRODUCT_NO)
    WHERE (PRODUCT_NAME LIKE '%' || ? || '%' 
        OR BRAND_NAME = ?)
        AND IMG_TYPE = 1
        AND P.DEL_YN = 'N'
         ORDER
     BY PRODUCT_NO DESC)A
        )
        WHERE RNUM BETWEEN 8*(?-1) AND ?*8
</entry>

<entry key="productViewSearch">
SELECT *
FROM(SELECT ROWNUM RNUM, A.*
FROM(SELECT 
     PRODUCT_NO
    ,PRODUCT_NAME
    ,PRODUCT_DISCOUNT
    ,PRODUCT_PRICE
    ,BRAND_NAME
    ,PRODUCT_VIEW_COUNT
    ,CHANGE_NAME
    ,FILE_PATH
     FROM TB_PRODUCT P
    JOIN TB_CATEGORY C ON(P.CATEGORY_NO = C.CATEGORY_NO)
    JOIN TB_BRAND USING(BRAND_NO)
    JOIN TB_PRODUCT_IMAGE USING(PRODUCT_NO)
    WHERE (PRODUCT_NAME LIKE '%' || ? || '%' 
        OR BRAND_NAME = ?)
        AND IMG_TYPE = 1
        AND P.DEL_YN = 'N'
        ORDER BY PRODUCT_VIEW_COUNT DESC)A
        )
        WHERE RNUM BETWEEN 8*(?-1) AND ?*8
</entry>
<entry key="productRowPrice">
SELECT *
FROM(SELECT ROWNUM RNUM, A.*
FROM(SELECT 
     PRODUCT_NO
    ,PRODUCT_NAME
    ,PRODUCT_DISCOUNT
    ,PRODUCT_PRICE
    ,BRAND_NAME
    ,PRODUCT_VIEW_COUNT
    ,CHANGE_NAME
    ,FILE_PATH
     FROM TB_PRODUCT P
    JOIN TB_CATEGORY C ON(P.CATEGORY_NO = C.CATEGORY_NO)
    JOIN TB_BRAND USING(BRAND_NO)
    JOIN TB_PRODUCT_IMAGE USING(PRODUCT_NO)
    WHERE (PRODUCT_NAME LIKE '%' || ? || '%' 
        OR BRAND_NAME = ?)
        AND IMG_TYPE = 1
        AND P.DEL_YN = 'N'
        ORDER BY PRODUCT_PRICE*((100-PRODUCT_DISCOUNT)*0.01))A
        )
        WHERE RNUM BETWEEN 8*(?-1) AND ?*8
</entry>
<entry key="productHighPrice">
SELECT *
FROM(SELECT ROWNUM RNUM, A.*
FROM(SELECT 
     PRODUCT_NO
    ,PRODUCT_NAME
    ,PRODUCT_DISCOUNT
    ,PRODUCT_PRICE
    ,BRAND_NAME
    ,PRODUCT_VIEW_COUNT
    ,CHANGE_NAME
    ,FILE_PATH
    FROM TB_PRODUCT P
    JOIN TB_CATEGORY C ON(P.CATEGORY_NO = C.CATEGORY_NO)
    JOIN TB_BRAND USING(BRAND_NO)
    JOIN TB_PRODUCT_IMAGE USING(PRODUCT_NO)
    WHERE (PRODUCT_NAME LIKE '%' || ? || '%' 
        OR BRAND_NAME = ?)
        AND IMG_TYPE = 1
        AND P.DEL_YN = 'N'
        ORDER BY PRODUCT_PRICE*((100-PRODUCT_DISCOUNT)*0.01) DESC)A
        )
        WHERE RNUM BETWEEN 8*(?-1) AND ?*8
</entry>
<entry key="productDetail">
SELECT 
     PRODUCT_NO
    ,PRODUCT_NAME
    ,PRODUCT_DISCOUNT
    ,PRODUCT_PRICE
    ,BRAND_NAME
    ,PRODUCT_VIEW_COUNT
    ,CHANGE_NAME
    ,FILE_PATH
     FROM TB_PRODUCT P
    JOIN TB_CATEGORY C ON(P.CATEGORY_NO = C.CATEGORY_NO)
    JOIN TB_BRAND USING(BRAND_NO)
    JOIN TB_PRODUCT_IMAGE USING(PRODUCT_NO)
    WHERE PRODUCT_NO = ?
        AND IMG_TYPE = 1
        AND P.DEL_YN = 'N'
</entry>
<entry key="productViewUp">
UPDATE
    TB_PRODUCT
    SET PRODUCT_VIEW_COUNT = PRODUCT_VIEW_COUNT +1
  WHERE PRODUCT_NO = ?
    AND DEL_YN = 'N'
</entry>
<entry key="selectProductImage">
SELECT *
FROM TB_PRODUCT_IMAGE
WHERE PRODUCT_NO = ?
  AND (IMG_TYPE = 2 OR IMG_TYPE = 3)
</entry>
<entry key="selectProductOption">
SELECT *
    FROM TB_OPTION
    WHERE PRODUCT_NO = ?
</entry>
<entry key="selectProductReview">
SELECT 
    REVIEW_NO,
    REVIEW_CONTENT,
    REVIEW_STAR,
    REVIEW_DATE,
    REVIEW_ANS_CONTENT,
    REVIEW_ANS_DATE,
    RPAD(SUBSTR(MEM_NAME,1,1),4,'*')MEM_NAME,
    REVIEW_IMG_SRC
FROM TB_REVIEW R
LEFT JOIN TB_REVIEW_IMAGE USING(REVIEW_NO)
JOIN TB_MEMBER USING(MEM_NO)
WHERE PRODUCT_NO2 = ?
     AND R.DEL_YN = 'N'
     ORDER BY REVIEW_DATE DESC  
</entry>
<entry key="listCount">
SELECT 
        COUNT(*) count
    FROM TB_PRODUCT P
    JOIN TB_CATEGORY C ON(P.CATEGORY_NO = C.CATEGORY_NO)
  WHERE CATEGORY_NAME = ?
    AND DEL_YN = 'N'
</entry>
<entry key="listCount2">
SELECT 
        COUNT(*) count
    FROM TB_PRODUCT
    JOIN TB_BRAND USING(BRAND_NO)
  WHERE (PRODUCT_NAME LIKE '%' || ? || '%' 
        OR BRAND_NAME = ?)
    AND DEL_YN = 'N'
</entry>
<entry key="selectReviewAvg">
SELECT 
	AVG(REVIEW_STAR) AVG
	FROM TB_REVIEW
	WHERE PRODUCT_NO2 = ?
</entry>
</properties>