div, form, input{
    box-sizing: border-box;
}

#wrap{
    position: relative;
    background-color: #E0BFE6;
    width: 1000px;
    height: 800px;
    margin: auto;

}

#allBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#header{
    text-align: center;
    padding-bottom: 1.05rem;
}
#content{
    background-color: #C7A9CC;
    border-radius: 24%;
    padding-left: 1rem; 
    padding-right: 1rem;
    width: 22rem;
    
    
}
#content_title{
text-align: center;
padding-top: 1.9rem;
padding-bottom: 1.5rem;
font-size: 1.3rem;
color: white;
font-weight: 600;
}
.form-group{
color: white;
font-weight: 600;
font-size: 0.9rem;
}

#login_button{
    text-align: center;
    padding: 2rem;
}
.btn-outline-primary{
    background-color: white;
    border: none;
    color: #C7A9CC;
    font-weight: 600;
}
.btn-outline-primary:hover{
    background-color: #9a77a1;
    
}