<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="selectInstaList">
SELECT
       COM_NO
     , INSTA_IMG_SRC
     , INSTA_IMG_CHANGE
  FROM TB_INSTAGRAM
  LEFT JOIN TB_INSTA_IMAGE IMG ON (COM_NO = REF_CNO)
 WHERE DEL_YN = 'N'
 ORDER
    BY UPLOAD_DATE DESC
</entry>

<entry key="likeInstaList">
SELECT 
       INSTA_IMG_ORIGIN
     , INSTA_IMG_SRC
     , COUNT(LIKE_NO)
  FROM TB_INSTAGRAM 
  LEFT JOIN TB_INSTA_IMAGE ON (COM_NO = REF_CNO)
  LEFT JOIN TB_LIKE USING (COM_NO)
 WHERE DEL_YN = 'N'
 GROUP BY INSTA_IMG_ORIGIN
        , INSTA_IMG_SRC
 ORDER BY 3 DESC
</entry>

<entry key="insertAnswer">
INSERT
  INTO TB_ANSWER_INSTAGRAM
  (
  	   ANS_NO
  	 , ANS_CONTENT
  	 , COM_NO
  	 , MEM_NO
  	 )
  	 VALUES
  	 (
  	   SEQ_ANSWER_INSTAGRAM
  	 , ?
  	 , ?
  	 , ?
  	 )
</entry>

<entry key="selectAnswerList">
SELECT
	   ANS_NO
	 , ANS_CONTENT
	 , MEM_ID
	 , TO_CHAR(ANS_DATE, 'YY/MM/DD HH:MI') "ANS_DATE"
  FORM TB_ANSWER_INSTAGRAM AN
  JOIN MEMBER ON (MEM_NO = MEM_NO)
 WHERE AN.DEL_YN = 'N'
   AND COM_NO = ?
 ORDER
 	BY COM_NO DESC
</entry>

<entry key="insertInsta">
INSERT
  INTO TB_INSTAGRAM
     (
       COM_NO
     , COM_CONTENT
     , INSTA_ID
     , COM_TAG
     , MEM_NO
     )
     VALUES
     (
       SEQ_INSTAGRAM.NEXTVAL
     , ?
     , ?
     , ?
     , ?
     )
</entry>

<entry key="insertInstaimg">
INSERT
  INTO TB_INSTA_IMAGE
     (
       INSTA_IMG_NO
     , REF_CNO
     , INSTA_IMG_ORIGIN
     , INSTA_IMG_CHANGE
     , INSTA_IMG_SRC
     )
     VALUES
     (
       SEQ_INSTA_IMAGE.NEXTVAL
     , SEQ_INSTAGRAM.CURRVAL
     , ?
     , ?
     , ?
     )
</entry>

<entry key="selectInsta">
SELECT
       COM_NO
     , INSTA_ID
     , COM_CONTENT
     , COM_TAG
  FROM TB_INSTAGRAM
 WHERE COM_NO = ?
</entry>

<entry key="selectInstaImg">
SELECT
       INSTA_IMG_NO
     , INSTA_IMG_ORIGIN
     , INSTA_IMG_CHANGE
     , INSTA_IMG_SRC
  FROM TB_INSTA_IMAGE
 WHERE REF_CNO = ?
</entry>

<entry key="insertFollow">
INSERT 
  INTO TB_FOLLOW 
  	 (
  	   FOLLOW_NO
  	 , FOLLOWER_ID
  	 , FOLLOWING_ID
  	 , ACT_YN
  	 ) 
  	 VALUES 
  	 (
  	   SEQ_FOLLOW.NEXTVAL
  	 , ?
  	 , (
    	 SELECT MEM_NO 
    	   FROM TB_MEMBER 
    	  WHERE INSTA_ID = 
    	  	  (
      			SELECT INSTA_ID 
      			  FROM TB_INSTAGRAM 
      			 WHERE COM_NO = ?
    		   )
  		)
  	 , 'Y'
	 )
</entry>

<entry key="updateFollow">
UPDATE TB_FOLLOW
   SET ACT_YN = 'N'
 WHERE FOLLOWER_ID = ?
   AND FOLLOWING_ID = 
     (
       SELECT MEM_NO 
         FROM TB_MEMBER 
        WHERE INSTA_ID = 
            (
              SELECT INSTA_ID 
                FROM TB_INSTAGRAM 
               WHERE COM_NO = ?
            )
      )
</entry>

<entry key="insertLike">
INSERT 
  INTO TB_LIKE 
     (
       LIKE_NO
     , MEM_NO
     , COM_NO
     ) 
     VALUES 
     (
       SEQ_LIKE.NEXTVAL
     , ?
     , ?
     )
</entry>

<entry key="deleteLike">
DELETE 
  FROM TB_LIKE
 WHERE MEM_NO = ? 
   AND COM_NO = ?
</entry>
</properties>