<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectFollowerList">
		SELECT M1.MEM_NO "MEM_NO", M1.MEM_ID "LOGIN_ID",
		M2.MEM_ID "FOLLOWERS"
		FROM TB_FOLLOW F
		JOIN TB_MEMBER M1 ON (FOLLOWER_ID
		= M1.MEM_NO)
		JOIN TB_MEMBER M2 ON (FOLLOWING_ID = M2.MEM_NO)
		WHERE
		M1.MEM_NO = ?
		AND F.ACT_YN = 'Y'
	</entry>
	<entry key="selectFollowingList">
		SELECT M1.MEM_NO "MEM_NO", M1.MEM_ID "LOGIN_ID",
		M2.MEM_ID "FOLLOWING"
		FROM TB_FOLLOW F
		JOIN TB_MEMBER M1 ON
		(FOLLOWING_ID = M1.MEM_NO)
		JOIN TB_MEMBER M2 ON (FOLLOWER_ID =
		M2.MEM_NO)
		WHERE M1.MEM_NO = ?
		AND F.ACT_YN = 'Y'
	</entry>
	<entry key="deleteFollowing">
		UPDATE (
		SELECT M1.MEM_NO, M2.MEM_ID, F.ACT_YN
		FROM
		TB_MEMBER M1, TB_MEMBER M2, TB_FOLLOW F
		WHERE M1.MEM_NO =
		F.FOLLOWING_ID
		AND M2.MEM_NO = F.FOLLOWER_ID
		AND M1.MEM_NO = ?
		AND
		M2.MEM_ID = ?
		)
		SET ACT_YN ='N'

	</entry>


	<entry key="deleteFollower">

		UPDATE (
		SELECT M1.MEM_NO, M2.MEM_ID, F.ACT_YN
		FROM
		TB_MEMBER M1, TB_MEMBER M2, TB_FOLLOW F
		WHERE M1.MEM_NO =
		F.FOLLOWING_ID
		AND M2.MEM_NO= F.FOLLOWER_ID
		AND M2.MEM_NO = ?
		AND
		M1.MEM_ID = ?
		)
		SET ACT_YN ='N'
	</entry>

	<entry key="cancelDeleteFollowing">
		UPDATE (
		SELECT M1.MEM_NO, M2.MEM_ID, F.ACT_YN
		FROM
		TB_MEMBER M1, TB_MEMBER M2, TB_FOLLOW F
		WHERE M1.MEM_NO =
		F.FOLLOWING_ID
		AND M2.MEM_NO= F.FOLLOWER_ID
		AND M1.MEM_NO = ?
		AND
		M2.MEM_ID = ?
		)
		SET ACT_YN ='Y'
	</entry>

	<!-- 적립금 : 옵션명 가져오지 않는 sql문 
	<entry key="selectMileageHistory"> 
	SELECT 
		MILEAGE_NO 
		, MILEAGE_HISTORY 
		, MILEAGE 
		, PRODUCT_NAME 
		, MEM_NO 
		FROM TB_MILEAGE_HISTORY 
		JOIN TB_PRODUCT USING (PRODUCT_NO) 
		WHERE MEM_NO = ? 
		ORDER BY MILEAGE_NO DESC 
		</entry> -->


	<!-- 적립금 : 옵션명 가져오는 sql문 -->
	<entry key="selectMileageHistory">
		SELECT
		M.MILEAGE_NO
		, M.MILEAGE_HISTORY
		, M.MILEAGE
		, P.PRODUCT_NAME
		, M.MEM_NO
		, T.OPTION_SIZE
	<!--, O.ORDER_NO -->
		FROM TB_MILEAGE_HISTORY M
		JOIN TB_PRODUCT P ON (M.PRODUCT_NO = P.PRODUCT_NO)
		JOIN TB_ORDER O ON (M.MEM_NO = O.MEM_NO)
		JOIN TB_OPTION T ON (T.OPTION_NO = O.OPTION_NO)
		WHERE M.MEM_NO = ?
		ORDER BY MILEAGE_NO DESC
	</entry>

</properties>