<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectFollowerList">
		SELECT M1.MEM_NO "MEM_NO", M1.MEM_ID "LOGIN_ID",
		M2.MEM_ID "FOLLOWERS"
		FROM TB_FOLLOW F
		JOIN TB_MEMBER M1 ON (FOLLOWER_ID
		= M1.MEM_NO)
		JOIN TB_MEMBER M2 ON (FOLLOWING_ID = M2.MEM_NO)
		WHERE
		M1.MEM_NO = ?
		AND F.ACT_YN = 'Y'
	</entry>
	<entry key="selectFollowingList">
		SELECT M1.MEM_NO "MEM_NO", M1.MEM_ID "LOGIN_ID",
		M2.MEM_ID "FOLLOWING"
		FROM TB_FOLLOW F
		JOIN TB_MEMBER M1 ON
		(FOLLOWING_ID = M1.MEM_NO)
		JOIN TB_MEMBER M2 ON (FOLLOWER_ID =
		M2.MEM_NO)
		WHERE M1.MEM_NO = ?
		AND F.ACT_YN = 'Y'
	</entry>
	<entry key="deleteFollowing">
		UPDATE (
		SELECT M1.MEM_NO, M2.MEM_ID, F.ACT_YN
		FROM
		TB_MEMBER M1, TB_MEMBER M2, TB_FOLLOW F
		WHERE M1.MEM_NO =
		F.FOLLOWING_ID
		AND M2.MEM_NO = F.FOLLOWER_ID
		AND M1.MEM_NO = ?
		AND
		M2.MEM_ID = ?
		)
		SET ACT_YN ='N'

	</entry>


	<entry key="deleteFollower">

		UPDATE (
		SELECT M1.MEM_NO, M2.MEM_ID, F.ACT_YN
		FROM
		TB_MEMBER M1, TB_MEMBER M2, TB_FOLLOW F
		WHERE M1.MEM_NO =
		F.FOLLOWING_ID
		AND M2.MEM_NO= F.FOLLOWER_ID
		AND M2.MEM_NO = ?
		AND
		M1.MEM_ID = ?
		)
		SET ACT_YN ='N'
	</entry>

	<entry key="cancelDeleteFollowing">
		UPDATE (
		SELECT M1.MEM_NO, M2.MEM_ID, F.ACT_YN
		FROM TB_MEMBER M1, TB_MEMBER M2, TB_FOLLOW F
		WHERE M1.MEM_NO = F.FOLLOWING_ID
		AND M2.MEM_NO= F.FOLLOWER_ID
		AND M1.MEM_NO = ?
		AND M2.MEM_ID = ?
		)
		SET ACT_YN ='Y'
	</entry>

</properties>