<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <script src="../../resources/js/jquery-3.6.3.min.js"></script>
  <style>
    .input-box {
      display: flex;
      margin: 15px;
      width: 400px;
      padding: 6px;
      border-radius: 15px;
      border: 1px solid #e2e2e2;
    }

    .input-box i {
      flex: 1;
    }

    .input-box input {
      flex: 7;
      border: none;
      outline: none;
    }

    .product_container {

      font-size: 18px;
      font-weight: 700;
      line-height: 1.5;
      padding-top: 30px;
      padding-bottom: 30px;
    }

    #searchBar {
      padding-top: 50px;
    }

    #product_detail {
      text-align: left;
    }

    .estmtPyamn th {
      text-align: left;
    }

    .estmtPyamn td {
      text-align: right;
    }
  </style>
</head>

<body>
  <div class="container text-center">
    <div class="row">
      <div id="input_logo" class="col">
        <img src="../resources/image/로고1.png" width="80%" height="200px" alt="">
      </div>
      <div id="searchBar" class="col">
        <div class="input-box">
          <i class="fa-solid i1 fa-magnifying-glass"></i>
          <input type="text">
          <i class="fa-solid fa-keyboard"></i>
          <i class="fa-solid fa-microphone"></i>
          <button type="button" class="btn btn-outline-info" style="border-color: plum ;  color : plum">검색</button>
        </div>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#" style=" color:plum">뭐입지그램</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" style=" color:plum">쇼핑</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" style=" color:plum">고객센터</a>
    </li>
  </ul>
  <div>
    <hr>
  </div>

  <div class="container text-center">
    <div class="row">
      <div class="col-1">
      </div>
      <div class="col-11" style="text-align: left; padding-top: 20px; font-size: 25px; font-weight: 800;">
        장바구니
      </div>
    </div>
    <div class="row" style="padding-top: 40px;">
      <div class="col-1">
      </div>
      <div class="col-8">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">전체 1개 </th>
              <th scope="col">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="cbx_chkAll">
                </div>
              </th>
              <th scope="col">상품명(옵션)</th>
              <th scope="col">판매가</th>
              <th scope="col">수량</th>
              <th scope="col">적립금액</th>
              <th scope="col">배송비</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="chk" value="" id="flexCheckDefault">
                </div>
              </td>
              <td>
                <div class="row">
                  <div class="col-5">
                    <div style="text-align: left;">
                      <img src="https://images.seoulstore.com/products/17d78e1a1d54940a3170b29f099a4f10.jpg"
                        width="100%" height="90px" alt="">
                    </div>
                  </div>
                  <div class="col-7" id="product_detail">
                    <div style="font-weight: 600;">[오드스튜디오] 보네백</div>
                    <div style="font-size: 14px; color: gray;">size : M</div>
                  </div>

                </div>
              </td>
              <td>49,800원</td>
              <td>
                <div class="count-wrap _count">
                  <button type="button" class="minus">-</button>
                  <input type="text" class="inp" value="1" style="width: 40px;">
                  <button type="button" class="plus">+</button>
                </div>
              </td>
              <td>498원</td>
              <td> 무료</td>
            </tr>
          </tbody>
        </table>
        <div style="text-align: left;">
          <button type="button" class="btn btn-secondary">선택 삭제</button>
        </div>
      </div>
      <div class="col-3">
        <div style="font-weight: 600; padding-bottom: 10px; text-align: left;">최종 결제금액</div>
        <table class="estmtPyamn" style="color: grey;">
          <tr>
            <th>주문 상품 수</th>
            <td width="170" height="40">1개</td>
          </tr>
          <tr>
            <th>주문금액</th>
            <td height="40">49,000원</td>
          </tr>
          <tr>
            <th>배송비</th>
            <td height="40">무료</td>
          </tr>
          <tr>
            <th>적립 마일리지</th>
            <td height="40">0원</td>
          </tr>
        </table>
        <div class="d-grid gap-2" style="margin-top: 20px;">
          <button class="btn btn-primary" type="button" style="background-color: pink; border-color: pink;">결제하러
            가기</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    //수량 옵션
    $('._count :button').on({
      'click': function (e) {
        e.preventDefault();
        var $count = $(this).parent('._count').find('.inp');
        var now = parseInt($count.val());
        var min = 1;
        var max = 999;
        var num = now;
        if ($(this).hasClass('minus')) {
          var type = 'm';
        } else {
          var type = 'p';
        }
        if (type == 'm') {
          if (now > min) {
            num = now - 1;
          }
        } else {
          if (now < max) {
            num = now + 1;
          }
        }
        if (num != now) {
          $count.val(num);
        }
      }
    });

    $(document).ready(function () {
      $("#cbx_chkAll").click(function () {
        if ($("#cbx_chkAll").is(":checked")) $("input[name=chk]").prop("checked", true);
        else $("input[name=chk]").prop("checked", false);
      });

      $("input[name=chk]").click(function () {
        var total = $("input[name=chk]").length;
        var checked = $("input[name=chk]:checked").length;

        if (total != checked) $("#cbx_chkAll").prop("checked", false);
        else $("#cbx_chkAll").prop("checked", true);
      });
    });
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
</body>

</html>